.strapi-content ul {
  white-space: normal;

  /* list-style: inside; */
  padding-left: 30px;
}

.strapi-content {
  white-space: pre-wrap;
}

.strapi-content > ul > li {
  list-style-type: '-   ';
}

.strapi-content > ol {
  list-style-type: none;
  color: black !important;
  white-space: normal;
}

.strapi-content > ol > li > p {
  white-space: normal;
}
